/* Indice */
body {
    scroll-behavior: smooth !important;
}

.menu-index .index-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    height: 40vh;
    gap: .5rem;
    margin: 2rem 3rem;
}

.group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: .5rem;
    gap: 1rem;
}

.index-list .index-item {
    display: flex;
    align-items: center;
    min-height: 8vh;
    border: 2px solid var(--color--text);
    border-radius: 5px;
    background-color: rgba(215, 202, 167, 0.644);
    transition: background-color .3s ease-in-out,
        color .2s ease;
    cursor: pointer;

    position: relative;

}

.index-list .index-item:hover {
    background-color: var(--color--secondary);
    color: var(--color--text);
}

.index-list .index-item:active {
    opacity: .9;
}

.index-item a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color--text--secondary);
    text-align: center;
    font-size: 20px;
    transition: transform .3s ease-in;
}

.index-item:hover a {
    transform: translate(-10px);
}

.index-item i {
    display: block;
    position: absolute;
    right: 30%;
    width: fit-content;
    font-size: 2em;
    transition: transform .3s ease-in;
}

.index-item:hover i {
    animation: move 1.5s infinite;
}

@keyframes move {
    0% {
        transform: translateX(50px);
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(80px);
        opacity: 0;
    }
}

/* Carta */

#menu-items {
    margin: 2rem 0rem;
}

#menu-items h3 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    /* margin-top: 2rem; */
    padding: .625rem;
    width: 100%;
    background-color: var(--color--secondary);
    color: var(--color--text);
}

.menu-item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    padding: .625rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: keep-all;
    border-bottom: 2px solid var(--color--secondary);
}

.menu-item:nth-child(odd) {
    border-right: 2px solid var(--color--secondary);
}

.menu-item:nth-child(4n+1) {
    background: #e7e0cd;
}

.menu-item:nth-child(4n+3) {
    background: #efefee;
}

.menu-item:nth-child(4n+2) {
    background: #e7e0cd;
}

.menu-item h4 {
    font-size: 20px;
    color: var(--color--secondary);
}

.menu-item p {
    font-size: 18px;
}

.menu-item .price {
    font-size: 18px;
    color: var(--color--primary);
} 

/* Estilos para el botón estático */
#back-to-top {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 10px;
    right: -30px;
    font-size: 1.2em;
    background-color: #ff5733;
    color: var(--color--text);
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;

    z-index: 1;
    text-decoration: none;
    transition: background-color .3s ease,
        line-height .3s .3s cubic-bezier(0.075, 0.82, 0.165, 1),
        transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#back-to-top:hover {
    background-color: #e6462d;
    line-height: 25px;
    transform: translateX(-30px);
}

#back-to-top.hidden {
    display: none;
}

/*  */

@media (max-width: 780px) {
    .menu-index .index-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        height: fit-content;
    }

    .group {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0;
    }

    .group:nth-child(3) {
        grid-column: span 2;
    }

    .index-list li a {
        font-size: 18px;
    }

}

@media (max-width: 480px) {
    .menu-index .index-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: .625rem;
        height: fit-content;
    }

    .group {
        margin-bottom: 1rem;
        grid-template-columns: repeat(1, 1fr);
        gap: .625rem;
    }

    .group:nth-child(3) {
        grid-column: 1;
    }
}