@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --color--primary: #b13d14;
    --color--primary-ligth: #db8758;
    --color--secondary: #9c1a04;
    --color--text: #efefef;
    --color--text-saturated: #ecb47b;
    --color--text-secondary: #340701;
}

/* Clases de utilidad */

.entry-img {
    height: 35vh;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.entry-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.entry-title {
    text-align: center;
    padding: 1rem;
    font-size: 30px;
    color: var(--color--text--secondary);
}

.entry-text--wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-text--wrapper.p-absolute {
    position: absolute;
}

.entry-text--wrapper h1 {
    font-size: 2.625em;
    font-weight: 700;
    color: var(--color--text);
    text-shadow: 1px 2px 0px #000000dd;
    text-align: center;
}

.entry-text--wrapper p {
    padding-top: 1rem;
    font-size: 1.125rem;
    text-align: center;
    color: var(--color--text);
    text-shadow: 1px 1px 0px #000000dd;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 15px 20px;
    font-size: 1.125em;
    cursor: pointer;
}

.link {
    color: var(--color--text);
    text-decoration: none;
}

.title-md {
    font-family: 'Heebo', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
}

.title-sm {
    font-weight: 400;
    font-family: 'Heebo', Helvetica, Arial, Lucida, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.txt-saturated {
    color: var(--color--text-saturated);
}

.txt-red {
    color: #cf2001;
}

.hidden-icon {
    opacity: 0;
    transition: opacity 0.4s ease;
}

/*  */

body {
    background: #EEEEEE;
    scroll-behavior: smooth;
}

#entry-wrapper {
    height: 100vh;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: .3125rem;
    background-color: var(--color--secondary);
}

.logo-container {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin-left: .625rem;
    cursor: pointer;
}

.logo-container p {
    color: var(--color--text);
    font-size: 20px;
    text-wrap: nowrap;
}

.logo-container img {
    padding-left: 1rem;
    width: 80px;
    max-height: 100%;
}

#main-header .menu-btn i {
    color: #fff;
    font-size: 1.375em;
    cursor: pointer;
    display: none;
}

#main-header input[type="checkbox"] {
    display: none;
}

#main-header .nav-menu {
    margin: 0 10px;
}

.nav-menu .header-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header-list li {
    color: var(--color--text);
    font-size: 20px;
    font-weight: 600;
}

.header-list a {
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color .3s ease-in-out,
    color .2s ease-in;
}

@media (min-width: 780px) {
    .active {
        text-decoration: underline 2px solid var(--color--text);
        text-underline-offset: .5rem;
    }

    .nav-menu .header-list a:hover {
        background-color: var(--color--text);
        color: var(--color--primary);
        text-decoration: none;
    }
}

@media (max-width: 780px) {
    #entry-wrapper {
        height: fit-content;
    }

    #main-header {
        padding: .3125rem;
    }

    #main-header label {
        position: absolute;
        right: .625rem;
    }

    #main-header .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i::before {
        content: '\eb5f';
    }

    .nav-menu .header-list {
        position: fixed;
        top: 8vh;
        left: -100%;
        background: #222;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: left 0.8s ease;
        z-index: 3;
    }

    #click:checked~.nav-menu .header-list {
        left: 0;
        transition: left 0.8s ease;
    }

    .nav-menu .header-list li {
        width: 100%;
        margin: 2.5rem 0;
    }

    .header-list li a {
        width: 100%;
        display: block;
        font-size: 1.25em;
        transition: color 0.3s ease;
    }

    .header-list li a.active,
    .header-list li a:hover {
        color: var(--color--primary);
    }
}

/*  */

#entry-container {
    height: 90vh;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url(../img/restaurant.jpg);
    background-position: left;
    background-size: cover;
    filter: contrast(80%);
}

.img-wrapper {
    width: 200px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
}

.title-wrapper {
    text-align: center;
}

#entry-container .title-wrapper h1 {
    font-size: 70px;
    word-break: keep-all;
    text-align: center;

    background: -webkit-linear-gradient(90deg, var(--color--primary) 28%, var(--color--secondary) 58%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.2);
    margin-bottom: 1rem;
}

.title-wrapper p {
    color: var(--color--text);
    font-size: 1.125em;
    font-weight: 700;
    text-shadow: 1px 1px 0px #000000dd;
}

.button-wrapper {
    margin-top: 2rem;
}

.button-wrapper button {
    border-radius: 10px;
    background-color: var(--color--primary);
    color: var(--color--text);
    width: 9.375rem;
    height: 65px;
    transition: scale .3s ease,
    background-color .2s ease;
}

.button-wrapper button:first-child {
    margin-right: 2rem;
}

#entry-container .button-wrapper button:hover {
    scale: 1.05;
    background-color: var(--color--text);
}

#entry-container .button-wrapper button:hover a {
    color: var(--color--primary);
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    margin: 1.25rem 2rem;
}

#about-container .title-wrapper {
    margin-bottom: 2rem;
    font-size: 28px;
}

#about-container .text-wrapper {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.25rem;
    word-break: keep-all;
}

#about-container .text-wrapper p {
    font-size: 18px;
    padding: 1rem 0px;
}

#about-container .text-wrapper p:first-child {
    margin-right: 2rem;
}

#about-container .text-wrapper p:nth-child(2) {
    margin-left: 2rem;
}

/* Footers */

#main-footer {
    display: flex;
    background-color: #28292b;
    color: var(--color--text);
    justify-content: space-around;
    align-items: center;
}

.footer-wrapper {
    margin: 1.5rem;
    text-align: left;
}

.footer-wrapper p {
    padding: .3125rem;
}

#copyright-footer {
    padding: .625rem;
    text-align: center;
    color: var(--color--text);
    background: #000000dd;
}

/* Media Querys */

@media (max-width: 780px) {

    /* Header */
    #main-header {
        height: 8vh;
    }

    .logo-container img {
        padding-left: 3px;
    }

    .nav-menu {
        margin: 0;
    }

    #main-header .nav-menu .header-list {
        gap: .2rem;
    }

    /* Estilos especificos Index */

    .title-sm {
        margin: 0;
    }

    .entry-img {
        height: 25vh;
    }

    #entry-container {
        height: 92vh;
    }

    #entry-container .title-wrapper h1 {
        font-size: 60px;
    }

    .title-wrapper p {
        font-size: 1em;
    } 

    .button-wrapper button {
        max-height: 50px;
        font-size: 1em;
        padding: 10px 15px;
    }

    #about-container {
        margin: 1rem 1.25rem;
    }

    #about-container .title-wrapper {
        font-size: 24px;
    }

    #about-container .text-wrapper {
        flex-direction: column;
        text-align: center;
    }

    #about-container .text-wrapper p {
        padding: .5rem 0;
        font-size: 14px;
    }

    #about-container .text-wrapper p:first-child {
        margin-right: 0;
    }

    #about-container .text-wrapper p:nth-child(2) {
        margin-left: 0;
    }

    /* Footer */

    #main-footer {
        flex-direction: column;
    }

    .footer-wrapper {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .entry-text--wrapper p {
        font-size: 16px;
    }

    #entry-container .img-wrapper {
        max-height: 20vh;
    }

    #entry-container .title-wrapper h1 {
        font-size: 48px;
    }

    .title-wrapper p {
        font-size: 14px;
        margin: 1rem 0;
    }

    .button-wrapper button {
        max-width: fit-content;
    }
}