#ubi-entry {
    margin: 3rem;
}

.ubi-wrapper {
    margin: 0 auto;
    display: grid;
    place-items: center;
    width: fit-content;
    gap: 3rem;
}

.ubi-item {
    display: grid;
    place-items: center;
    width: 100%;

    text-align: left;
    border: 2px solid var(--color--primary);
    padding: 1rem;
    /* overflow: hidden; */
}

.text-wrapper {
    width: 37.5rem;
    min-width: 60vw;
    text-align: left;
    padding-bottom: 1rem;
}

.ubi-item .iframe-wrapper {
    width: 37.5rem;
    min-width: 60vw;
}

.iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    min-height: 28.125rem;

    border: none;
}

.text-wrapper p {
    line-height: 1.5rem;
}


@media (max-width: 780px) {
    .ubi-wrapper {
        gap: 2rem;
    }

    #ubi-entry {
        margin: 2rem;
    }

    .ubi-item .text-wrapper {
        width: fit-content;
    }

    .ubi-item .iframe-wrapper {
        width: fit-content;
    }
}